html {
	min-width: 300px;
	width: 15rem;
}

body {
	margin: 2px;
	min-height: 120px;
}

button {
	border: inherit;
	color: inherit;
	background: inherit;
	cursor: pointer;
}

.dark-bg {
	background: #133;
	color: #acc;
	font-weight: 500;
}

.container {
	height: 100%;
	min-height: 200px;
	display: flex;
	flex-direction: column;
}

.container .row.header {
	border-bottom: 2px solid #acc;
	font-size: large;
	max-height: 100px;
	min-width: 30px;
	flex: 1 1 30px;
}

.container .row:not(.header):not(.footer) {
	flex-grow: 5;
	background: #244;
}

.row {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.row.footer {
	padding: 0.25rem;
	border-top: 2px solid #acc;
	justify-content: space-around;
}

.clickable {
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 5%;
}

.clickable:hover {
	background: #455;
	border: 1px solid #acc;
}

#redo-popover {
	border: 0px;
}

.redo-popover-container {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#summary {
	display: none;
	flex-direction: column;
}

#summary span {
	padding: 1rem;
}

#summary div {
	display: flex;
	justify-content: center;
	padding: 0.25rem 0;
}

.button-row {
	display: flex;
	gap: 2rem;
	justify-content: flex-end;
}

/* LOADING SPINNER */
#loader {
	width: 28px;
	height: 28px;
	/* change to block when loading */
	display: none;
	margin: 10px auto;
	position: relative;
	color: #acc;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

#loader::after,
#loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
	background-color: #acc;
	border-radius: 50%;
	animation: scale50 1s infinite ease-in-out;
}

#loader::before {
	top: auto;
	bottom: 0;
	background-color: #455;
	animation-delay: 0.5s;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes scale50 {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
